/* ghost */
html,
body {
  margin: 0;
  padding: 0;
  /* background-color: hsl(195, 100%, 7%);
  background-color: #fff; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.inner__container {
  justify-content: center;
  height: 95vh;
  z-index: 0;
}
.bottom_waves {
  bottom: 5vh;
  z-index: 1;
  position: absolute;
  width: 100vw;
}
.wrapper {
  margin-top: 7vh;
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index: 2;
}
@media (min-width: 992px) {
  .wrapper {
    margin-top: 0vh;
    top: 25vh;
    left: 1vw;
  }
}
.wrapper .menu_item {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 12px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  display: flex;
  /* justify-content: stretch; */
  align-items: center;
  flex-direction: row;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: black;
}
.icon {
  padding-bottom: 6px;
}

.wrapper .tooltip {
  position: relative;
  top: 0;
  right: 135px;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  right: -8px;
  bottom: 35%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip-left::before {
  left: 0px;
  transform: translate(50%);
}

.wrapper .menu_item:hover .tooltip {
  right: 135px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.tooltip-left {
  right: 0;
  left: 30px;
}

.wrapper .menu_item:hover span,
.wrapper .menu_item:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

#menu_items {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#menu_items::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.menu_item_icon {
  color: #000;
}
.menu_item_icon:hover {
  color: inherit;
}

/* waves */
.outer {
  position: relative;
  text-align: center;
  background-color: black;
  background-size: cover;
  color: white;
  width: 100vw;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  min-height: 100px;
}
.lift-waves {
  background-color: #fff;
  height: 5vh;
  position: absolute;
  width: 100vw;
  bottom: 0;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* slides */

.content {
  scroll-snap-type: y mandatory;
  display: block;
  height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
  text-align: center;
  background-color: transparent;
  z-index: 1;
}
.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
@media (min-width: 992px) {
  .content {
    height: 95vh;
    padding-left: 2.5vw;
  }
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
  overflow-x: visible;
  color: #ffffff;
  background: transparent;
  /* border: 1px dashed #ffffff; */
}
@media (min-width: 992px) {
  section {
    padding-left: 5vw;
    padding-top: 10vh;
  }
}

/* home content */
.home__image {
  width: 403px;
  /* border: 2px solid yellow; */
}
@media (max-width: 992px) {
  .home__image {
    width: 204px;
    height: 204px;
    /* border: 2px solid yellow; */
  }
  .home__image img {
    width: 200px;
    height: 200px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Tangerine);

.name {
  display: block;
  font: 5em "Montserrat";
  margin: 0 auto;
}

@media (max-width: 992px) {
  .name {
    display: block;
    font: 3em "Montserrat";
    margin: 0 auto;
  }
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

@import url(https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap);

#container {
  color: #999;
  text-transform: uppercase;
  font: 5em "Akaya+Telivigala", cursive;
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  display: block;
}
@media (max-width: 992px) {
  #container {
    color: #999;
    text-transform: uppercase;
    font: 1em "Akaya+Telivigala", cursive;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: block;
  }
}

#flip {
  height: 45px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  color: #42c58a;
}
#flip div:first-child div {
  color: #4ec7f3;
}
#flip div:last-child div {
  color: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/* home content ends */
