/* ghost */
html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(195, 100%, 7%);
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.inner__container {
  justify-content: center;
  margin-top: 5vh;
  padding-top: 10vh;
  height: 80vh;
  z-index: 0;
}
.wrapper .menu_item {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 12px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  display: flex;
  /* justify-content: stretch; */
  align-items: center;
  flex-direction: row;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: black;
}
.icon {
  padding-bottom: 6px;
}

.wrapper .tooltip {
  position: relative;
  top: 0;
  right: 135px;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  right: -8px;
  bottom: 35%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip-left::before {
  left: 0px;
  transform: translate(50%);
}

.wrapper .menu_item:hover .tooltip {
  right: 135px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.tooltip-left {
  right: 0;
  left: 40px;
}

.wrapper .menu_item:hover span,
.wrapper .menu_item:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

#menu_items {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#menu_items::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.menu_item_icon {
  color: #000;
}
.menu_item_icon:hover {
  color: inherit;
}

/* waves */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.outer {
  position: relative;
  text-align: center;
  /* background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  ); */
  background-color: black;
  background-size: cover;
  color: white;
  width: 100vw;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  min-height: 100px;
}
.lift-waves {
  background-color: #fff;
  height: 10vh;
}
.content {
  position: relative;
  text-align: center;
  background-color: transparent;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/* slides */

.content {
  scroll-snap-type: y mandatory;
  display: block;
  height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  /* align-items: flex-start; */
  height: 100%;
  overflow-x: visible;
  color: #ffffff;
  background: transparent;
  /* border: 1px dashed #ffffff; */
}
@media (min-width: 992px) {
  section {
    padding-left: 5vw;
    padding-top: 10vh;
  }
}

/* home content */
.home__image {
  width: 403px;
  border: 2px solid yellow;
}
@media (max-width: 992px) {
  .home__image {
    width: 304px;
    height: 304px;
    border: 2px solid yellow;
  }
  .home__image img {
    width: 300px;
    height: 300px;
  }
}
