/* ghost */
html,
body {
  margin: 0;
  padding: 0;
  /* background-color: hsl(195, 100%, 7%);
  background-color: #fff; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.inner__container {
  justify-content: center;
  height: 95vh;
  z-index: 0;
}

.wrapper {
  margin-top: 5vh;
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index: 2;
  pointer-events: all;
}
@media (min-width: 992px) {
  .wrapper {
    margin-top: 0vh;
    top: 25vh;
    left: 1vw;
  }
}
.wrapper .menu_item {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 12px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  display: flex;
  /* justify-content: stretch; */
  align-items: center;
  flex-direction: row;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: black;
}
.menu_icon {
  padding-bottom: 6px;
}

.wrapper .tooltip {
  position: relative;
  top: 0;
  right: 135px;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  right: -8px;
  bottom: 35%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip-left::before {
  left: 0px;
  transform: translate(50%);
}

.wrapper .menu_item:hover .tooltip {
  right: 135px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.tooltip-left {
  right: 0;
  left: 30px;
}

.wrapper .menu_item:hover span,
.wrapper .menu_item:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

#menu_items {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#menu_items::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.menu_item_icon {
  color: #000;
}
.menu_item_icon:hover {
  color: inherit;
}

.outer {
  position: relative;
  text-align: center;
  background-color: transparent;
  background-size: cover;
  color: white;
  width: 100vw;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  pointer-events: none;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* slides */

.content {
  scroll-snap-type: y mandatory;
  display: block;
  height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
  text-align: center;
  background-color: transparent;
  z-index: 1;
  pointer-events: all;
}
.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
@media (min-width: 992px) {
  .content {
    height: 95vh;
    padding-left: 2.5vw;
  }
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
  overflow-x: visible;
  color: #ffffff;
  background: transparent;
  /* border: 1px dashed #ffffff; */
}
#know_me {
  padding-top: 5vh;
}
#work {
  padding-top: 5vh;
}
#services {
  padding-top: 5vh;
}
@media (min-width: 992px) {
  #home {
    padding-top: 10vh;
  }
}

/* home content */
@import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
.hi {
  font-family: "Aldrich", sans-serif;
}
#home__img {
  /* width: 200px; */
  object-fit: contain;
  /* border: 2px solid yellow; */
}
@media (min-width: 992px) {
  #home__img {
    height: 520px;
  }
}
.name {
  display: block;
  font-size: 8.5em;
  font-family: "Fredericka the Great", cursive;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .name {
    display: block;
    font-size: 4em;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .name {
    display: block;
    font-size: 2.5em;
    margin: 0 auto;
  }
}
#container {
  color: #fff;
  text-transform: uppercase;
  font: 5em;
  font-family: "Aldrich", sans-serif;
  font-size: 36px;
  width: 100%;
  display: block;
}
@media (max-width: 992px) {
  #container {
    color: #999;
    text-transform: uppercase;
    font: 1em;
    font-family: "Aldrich", sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: block;
  }
}

#flip {
  height: 45px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  color: #fffb00;
}
#flip div:first-child div {
  color: #00ff22;
}
#flip div:nth-child(2) div {
  color: #42a5f5;
}
#flip div:last-child div {
  color: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}

/* home content ends */

/* About*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.about__content {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}
/* About ends */

/* projects */
.projects {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}

@media only screen and (max-width: 800px) {
  .projects {
    font-size: 57%;
  }
}
@media only screen and (max-width: 1000px) {
  .projects {
    border-radius: 0;
  }
}
/* projects ends*/

/* tech stack */
.tech_cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media all and (max-width: 320px) {
  .tech_cards-list {
    justify-content: space-around;
  }
}

.tech_card {
  margin: 0px 20px 30px;
  height: 100%;
  border-radius: 16px;
  /* box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22); */
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  cursor: pointer;
  transition: 0.4s;
}

.tech_card .tech_card_image {
  width: inherit;
  height: inherit;
}

.tech_card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
.tech_image {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.tech_image img {
  height: 100px;
}
@media all and (max-width: 992px) {
  .tech_image img {
    height: 50px;
  }
}
@media all and (max-width: 500px) {
  .tech_cards-list {
    /* On small screens, we are no longer using row direction but column */
    /* flex-direction: column; */
    width: 100%;
  }

  .tech_card {
    margin: 0px 20px 20px;
  }
}
/* tech stack ends */
